<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Modern UCI Documentation</title>
        <meta name="author" content="Riley John McCabe">
        <meta name="description" content="<<<COMMAND_NAME>>> command">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../main.css">
    </head>
    <body>
        <main>
            <h1>The "id" command</h1>
            <div>
                <h3>Subcommands</h3>
                <ul>
                    <li>
                        <section>
                            <h4>name</h4>
                            <p>
                                Indicates that the rest of the command string should be interpreted as a single string containing the name of the engine.
                            </p>
                        </section>
                    </li>
                    <li>
                        <section>
                            <h4>author</h4>
                            <p>
                                Indicates that the rest of the command string should be interpreted as a single string containing the name of the engine's author.
                            </p>
                        </section>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Use</h3>
                <p>
                    The id command must be sent twice at the start of uci initialization.
                    Once with the name subcommand, and once with the author subcommand.
                </p>
            </div>
        </main>
        <div data-src="../../footer.html"></div>
    </body>
</html>